
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,400;0,500;0,600;0,700;1,300;1,400&display=swap');
:root{
    --primary-color:white;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    background: linear-gradient(45deg, #2273ed, #ef2871);
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Nunito";
    color: white;

}
.card{
    width: 350px;
    background:rgba(0, 0, 0, 0.87);
    height: 450px;
    border-radius: 15px;
    text-align: center;
    overflow: hidden;

}
img{
    object-fit: cover;
    object-position: center;
    width: 100%;
    height: 100%;

}
.card h2{
    margin-top: 50px;
}
.card_img{
    width: 120px;
    height: 120px;
    border: 4px solid var(--primary-color) ;
    border-radius: 50%;
    overflow: hidden;
    margin: 0 auto;
    transform: translateY(35px);
    transition: 0.5s;

}
.card_img:hover{
    width: 100%;
    height: 100%;
    border-radius: unset;
    transform: unset;
    border: none;

}
.mxh {
    margin: 25px 0;
    height: 50px;
   
}
.mxh a{
    font-size: 25px;
}
.mxh a.facebook{
    color: white;
    margin: 25px 20px;
    text-decoration: none;
    
   

   

}
.mxh a.facebook:hover{

    color: rgb(53, 119, 249);
    
}

.mxh a.instagram{
    color: white;
    margin: 25px 20px;
    text-decoration: none;
  
   

}
.mxh a.instagram:hover{
    color: rgb(231, 120, 46);


}
.mxh a.github{
    color: white;
    margin: 25px 20px;
    text-decoration: none;
  

}
.mxh a.github:hover{
    color: black;
}

.card button.hello{
    width: 150px;
    height: 50px;
    border: 1px solid var(--primary-color);
    border-radius: 10px ;
    background: transparent;
    color: white;
    transition: 0.5s;
    cursor: pointer;

}

.card button.hello:hover{
    background: rgb(240, 235, 235);
    color: black;
}
.dialog{
    background: rgba(0, 0, 0, 0.6);
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
}
.iner_dialog{
    width: 400px;
    position: relative;
    top: 40%;
    margin: auto;
    background: white;
    border-radius: 10px;
    overflow: hidden;
    animation: dialogShow 0.2s linear;
}
.iner_header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    background: #1d99ca;
}
.iner_body{
    padding: 10px;
    color: black;
}
.iner_footer{
    padding: 15px;
    text-align: right;
   
}
.iner_footer button{
  padding: 10px 20px;
  background: #1d99ca;
  border-radius: 5px;
  border: none;
  outline: none;
  color: white;
  cursor: pointer;

}
.hide{
    display: none;
}
@keyframes dialogShow{
    from{
        top: -200px;
        opacity: 0;
    }
    to{
        top: 40%;
        opacity: 1;
    }
}